

/** modifier tout ça**/
/**
body
	{
	color: #6b6c5a;
	font-size: 13px;
	font-family: "Times New Roman", Times, serif;
	line-height: 22px;
	background-color: #e6e6d9;
	text-align: left;
	margin: 0
	}


  #navigation
  	{
  	color: white;
  	font-size: 9px;
  	line-height: 16px;
  	background-color: #6b6c5a;
  	text-align: center;
  	letter-spacing: 6px;
  	margin-bottom: 15px;
  	height: 16px
  	}
**/

/**modifier ça
main{
/**  color: #6b6c5a;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
  line-height: 22px;
  background-color: #e6e6d9;

  text-align: center;
  margin: 0

}
**/
